.App {
  font-family: sans-serif;
  text-align: center;
  background-color: darkgrey;
}

.section {
  margin: 20px 0;
}

.section h2 {
  margin: 0;
  font-size: 1.5em;
}

.section p {
  font-size: 1.2em;
}
.title {
  text-align: center;
  color: lightblue;
  margin-top: 20px;
  font-size: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
}