.App {
  font-family: sans-serif;
  text-align: center;
  background-color: darkgrey;
}

.section {
  margin: 20px 0;
}

.section h2 {
  margin: 0;
  font-size: 1.5em;
}

.section p {
  font-size: 1.2em;
}
.title {
  text-align: center;
  color: rgb(0, 65, 87);
  margin-top: 20px;
  font-size: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
}
.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
/* styles/Navbar.css */

.custom-navbar {
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente de la navbar */
}

.custom-brand {
  color: #4286f4; /* Celeste */
  font-size: 2rem; /* Aumenta el tamaño de la palabra ACEFTOOL */
  font-weight: bold; /* Hace la palabra ACEFTOOL en negrita */
  margin-left: 20px; /* Ajusta el margen izquierdo para centrar */
  margin-right: 20px; /* Ajusta el margen derecho para centrar */
  transition: color 0.3s ease; /* Agrega transición suave al cambio de color */
}

.custom-brand:hover,
.navbar-nav .nav-link:hover {
  color: #4286f4; /* Cambia el color a celeste en hover */
}

.navbar-nav {
  margin-left: 20px; /* Ajusta el margen izquierdo para centrar */
  margin-right: 20px; /* Ajusta el margen derecho para centrar */
}

.navbar-nav .nav-link {
  margin-left: 1rem; /* Añade espacio entre los enlaces de navegación */
}
